@{
    ViewData["Title"] = "Report";
}
<h2>Report</h2>

<script src="~/js/report.js"></script>


<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            Count Of Books
        </th>
    </tr>
    <tbody data-bind="foreach: items">
        <tr>
            <td data-bind="text: Name"></td>
            <td data-bind="text: Count"></td>
        </tr>
    </tbody>
</table>