@model int

@{
    ViewData["Title"] = "Edit book";
}

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4 data-bind="text: Name"></h4><hr />
       
        <input type="hidden" id="Id" value="@Model"/>
        <div class="form-group">
            <label class="col-md-2 control-label" >Name: </label>
            <div class="col-md-10">
                <input data-bind="value: Name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"> ISBN: </label>
            <div class="col-md-10">
                <input data-bind="value: ISBN" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"> Author: </label>
            <div class="col-md-10">
                <input data-bind="value: Author" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"> Categories: </label>
            <div class="col-md-10">
                <select data-bind="options: AllCategories, optionsText: 'Name', optionsValue: 'Id', selectedOptions: SelectedCategories" multiple="multiple"></select>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" data-bind="click: Update" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<script src="~/js/editbook.js"></script>
}
