@{
    ViewData["Title"] = "Book Store";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">Hello,</h1>
                <p class="lead section-lead">You can find source code <a href="https://github.com/Henriet/BookStore.git">here</a></p>
                <p class="section-paragraph">This application is written on ASP.NET 5. To run it you need download source files and apply migrations.</p>
            </div>
        </div>
    </div>
</section>
