@{
    ViewData["Title"] = "Create category";
}

<h2>Create category</h2>


<div class="form-horizontal">
    <h4>Category</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-10">
           Name: <input id="Name"class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" id="submit" class="btn btn-default" required="required"/>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/createcategory.js"></script>