@{
    ViewData["Title"] = "Index";
}
<h2>List of categories</h2>

<p>
    <a asp-action="Create">Create New Category</a>
</p>

<script src="~/js/IndexCategory.js"></script>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Creation Date
        </th>
        <th></th>
    </tr>

    <tbody data-bind="foreach: items">
        <tr>
            <td data-bind="text: Name"></td>
            <td data-bind="text: CreationDate"></td>
            <td>
                <a data-bind="attr: { 'href': 'Categories/Edit/' + Id }">Edit</a> |
                <a data-bind="click: $parent.Delete">Delete</a>
            </td>
        </tr>
    </tbody>
</table>




